* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../assets/background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.backgroundColor {
  margin: 0 auto;
  background-color: #ccc;
}

.navBar {
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}
.navBar img {
  width: 60px;
}
.navBar .navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.navBar .navigation .menu-hamburguer {
  background-color: #777474;
  position: absolute;
  top: 4.5em;
  right: 0;
  left: 0;
  text-align: right;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  z-index: 1;
}
.navBar .navigation .menu-hamburguer ul {
  list-style-type: none;
}
.navBar .navigation .menu-hamburguer ul li {
  padding: 0.3em 0;
  border-bottom: 1px solid #ccc;
}
.navBar .navigation .menu-hamburguer ul a {
  text-decoration: none;
  display: block;
  padding: 0.7em 2em 0.7em 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.5s, font-size 0.5s;
}
.navBar .navigation .menu-hamburguer ul a:hover {
  background-color: white;
  color: black;
}
.navBar .navigation .input-hamburguer {
  width: 1px;
  height: 1px;
  outline: transparent;
}
.navBar .navigation .label-hamburguer {
  height: 1em;
  padding: 1em;
}
.navBar .navigation .span-hamburguer {
  display: block;
  width: 2em;
  height: 0.2em;
  background-color: black;
}
.navBar .navigation .span-hamburguer::after, .navBar .navigation .span-hamburguer::before {
  content: "";
  width: 2em;
  height: 0.2em;
  background-color: black;
  position: absolute;
}
.navBar .navigation .span-hamburguer::after {
  transform: translateY(8px);
}
.navBar .navigation .span-hamburguer::before {
  transform: translateY(-8px);
}
.navBar .navigation .input-hamburguer:checked + .label-hamburguer ~ .menu-hamburguer {
  max-height: 100vh;
}
.navBar .navigation .input-hamburguer:checked + .label-hamburguer .span-hamburguer {
  background-color: transparent;
}
.navBar .navigation .input-hamburguer:checked + .label-hamburguer .span-hamburguer::after {
  transform: rotate(45deg);
  transition: 0.5s;
}
.navBar .navigation .input-hamburguer:checked + .label-hamburguer .span-hamburguer::before {
  transform: rotate(-45deg);
  transition: 0.5s;
}
.navBar .navigation .label-hamburguer:focus-within ~ .menu-hamburguer {
  max-height: 100vh;
}
.navBar .navigation .input-hamburguer:focus-visible + .label-hamburguer {
  outline: 2px solid black;
}

@media (min-width: 40.625em) {
  .navBar .navigation .input-hamburguer,
  .navBar .navigation .label-hamburguer,
  .navBar .navigation .span-hamburguer {
    display: none;
  }
  .navBar .navigation .menu-hamburguer {
    position: static;
    max-height: initial;
    background-color: #ccc;
    flex: 1;
  }
  .navBar .navigation .menu-hamburguer ul {
    display: flex;
    flex: 1;
    justify-content: end;
  }
  .navBar .navigation .menu-hamburguer ul li {
    border-bottom: none;
  }
  .navBar .navigation .menu-hamburguer ul a {
    padding: 1em;
    border-radius: 1em;
  }
}
.container-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1em;
  padding: 1em;
  max-width: 70em;
  margin: 0 auto;
}
.container-cards img {
  width: 100%;
  height: 300px;
  transition: transform 0.5s;
}
.container-cards img:hover {
  transform: scale(1.05);
}
.container-cards .card {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  grid-column: span 12;
  transition: transform 0.5s;
  overflow: hidden;
  background-color: white;
}
.container-cards .card:hover {
  box-shadow: 0 0 5px white;
  transform: translateY(-8px);
}
.container-cards .card .body {
  box-shadow: 0 0 10px black inset;
  border-top: transparent;
  padding: 1em;
}
.container-cards .card .body h2 {
  margin: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
}
.container-cards .card .body p {
  line-height: 1.5;
}
.container-cards .card .body a {
  display: block;
  margin: 0.5em 0 0;
  background-color: #ccc;
  text-align: center;
  text-decoration: none;
  background-color: rgb(73, 72, 72);
  color: white;
  padding: 0.7em;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.5s;
}
.container-cards .card .body a:hover {
  background-color: black;
  transform: scale(0.9);
}

@media (min-width: 40.625em) {
  .container-cards .card {
    grid-column: span 6;
  }
}
@media (min-width: 55.625em) {
  .container-cards .card {
    grid-column: span 4;
  }
}/*# sourceMappingURL=index.css.map */